body{
    background-color: #303030;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 20px;  
    font-style: normal;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.rectangle{
width: 1000px;
margin: 20px;
text-align: center;
}
.square{
    float:left;
    width: 50%;
}
#logo{
    float: left;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
#zegar{
    float: left;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.tile1{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.tile1:hover{

background-color: #2084c2;
cursor: pointer;
}

.tile2{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.tile2:hover{
    background-color: #555555;
    cursor: pointer;
}
.tile3{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile3:hover{
    background-color: #82c637;
    cursor: pointer;
}
.title4{
margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 26px;
    padding: 30px;
    line-height: 150%;

}
.tile5{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
}
#yt{
    background-color: #d94348;
    margin: 10px;
    width: 105px;
    height: 142px;
    float: left;
}
#yt:hover{

background-color: #c83237;
cursor: pointer;
}
#google{
    background-color: #d95333;
    margin: 10px;
    width: 105px;
    height: 142px;
    float: left;
}
#google:hover{

background-color: #c84222;
cursor: pointer;
}
#github{
    background-color: #000000;
    margin: 10px;
    width: 105px;
    height: 142px;
    float: left;
}
#github:hover{

background-color: #111111;
cursor: pointer;
}
#facebook{
    background-color: #4668b3;
    margin: 10px;
    width: 105px;
    height: 142px;
    float: left;
}
#facebook:hover{

background-color: #3557a2;
cursor: pointer;
}