body{
    background-color: #303030;
    color: #ffffff;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.rectangle{
width: 1000px;
margin: 20px;
}
.square{
    float:left;
}