#container
{
width: 1000px;
margin-left: auto;
margin-right: auto;

}
#calculator
{
    width: 600px;
    min-height: 700px;
    background-color: gray;
}
#display
{
    margin: 20px;
    width: 560px;
    background-color: bisque;
    min-height: 120px;
    font-size: 53px;
}